<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Page</title>
</head>
<body>
<body>
<h1>Registration page</h1>
<form th:action="@{/operator}" modelAttribute="operator" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <label for="confirmPassword">Confirm Password</label>:
    <input type="confirmPassword" id="confirmPassword" name="confirmPassword" /> <br />
    <input type="submit" value="Register" />
</form>
</body>
</body>
</html>